python-dotenv==1.2.2
streamlit==1.56.0
langchain==1.2.15
langchain-community==0.3.31
langchain-huggingface==1.2.2
langchain-text-splitters==1.1.2
langchain-google-genai==4.2.2
langchain-unstructured==1.0.1
langchain-chroma==1.1.0
sentence-transformers==5.4.1
chromadb==1.5.8
unstructured==0.22.22
unstructured[pdf]
pdf2image==1.17.0
pytesseract==0.3.13
protobuf==5.29.6
grpcio==1.80.0
opentelemetry-api==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-exporter-otlp-proto-grpc==1.41.0